@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@font-face {
  font-family: "Avenir Next";
  font-weight: 800;
  font-style: normal;
  src: url("/AvenirNext-Heavy.ttf") format("truetype");
}


@theme {
  --color-acm-orange: #F37420;
  --color-acm-blue: #209FF3;
  --color-acm-green: #19C25C;
  --color-acm-yellow: #F3C020;
  --color-bermuda: #78dcca;

  --font-mono: "IBM Plex Mono", monospace;
  --font-heading: "Avenir Next", sans-serif;
}
